/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}
.homepage_bg{
    background: url("./assets/Images/bghome.svg") ;
}
.codeblock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 800px;
    background: linear-gradient(
            123.77deg,
            #8a2be2 -6.46%,
            #ffa500 59.04%,
            #f8f8ff 124.53%
    );
    opacity: 0.28;
    filter: blur(60px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.codeblock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    border-radius: 800px;
    background: linear-gradient(
            118.19deg,
            #1fa2ff -3.62%,
            #12d8fa 50.44%,
            #a6ffcb 104.51%
    );
    opacity: 0.28;
    filter: blur(50px);
    transform: matrix(1, 0.01, -0.03, 1.2, 5, 5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

